
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <hr>
    <h3>Add Comment</h3>
    <form class="" action="/posts/<%=idd%>" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="commentTitle">
        <label>Comment</label>
        <textarea class="form-control" name="commentBody" rows="2" cols="10"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
    <hr>
    <%revs.forEach(function(rev){%>

    <h4><%=rev.perrev%></h4>
    <p><%=rev.pername%></p>
    <hr class="rule">
    <%})%>


<%- include("partials/footer"); -%>
